@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #171717;
	background-image: url('/assets/bg-dotted.svg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/* REACT QUILL EDITOR CSS */
.ql-toolbar .ql-stroke {
	fill: none !important;
	stroke: #ffffff81 !important;
}

.ql-toolbar .ql-fill {
	fill: #ffffff81 !important;
	stroke: none !important;
}

.ql-toolbar .ql-picker {
	color: #ffffff81 !important;
}

.ql-toolbar .ql-active .ql-fill,
.ql-toolbar .ql-active .ql-stroke,
.ql-toolbar .ql-active .ql-picker {
	stroke: white !important;
	color: white !important;
}

.ql-container {
	border: none !important;
}
.ql-toolbar{
	border-radius: 15px;
}
.ql-container > .ql-editor.ql-blank::before{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.284);
}

/* ScrollBar */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: gray; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: black; 
}