@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #171717;
	margin: 0;
	padding: 0;
	background-image: url('/bg-dotted.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
