@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #171717;
	background-image: url('/assets/bg-dotted.svg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
